---
layout: page
title: Books & Publications
---
<section class="">
  {% for book in site.data.books.inprint %}
  <section class="pl2 border-bottom mb1 border-light">
    <h1 class="h2 mbnone">{{ book.title }}</h1>
    <h2 class="h3 mtnone"> {{ book.subtitle }} </h2>
    <p>
      <a href="{{ book.buy_link }}">
        <img class="image-border border-light" src="{{ book.image }}" width="300">
      </a>
    </p>
    <p>
      <a href="{{ book.site }}">Learn More…</a>
    </p>
  </section>
  {% endfor %}
</section>
<section class="">
  <h2>Out of Print</h2>
  {% for book in site.data.books.outofprint %}
  <section class="pl2 border-bottom mb1 border-light">
    <h1 class="h3 mbnone">{{ book.title }}</h1>
    <h2 class="h4 mtnone"> {{ book.subtitle }} </h2>
    <p>
      <a href="{{ book.buy_link }}">
        <img class="image-border border-light" src="{{ book.image }}" width="300">
      </a>
    </p>
    <p>
      <a href="{{ book.site }}">Learn More…</a>
    </p>
  </section>
  {% endfor %}
</section>
<section>
  <a name="pricing">
    <h2>International Pricing</h2>
    <p>
      A dollar in the United States buys more (or less) stuff in other countries, despite what the foreign exchange rate might be.  The Economist popularized the <a href="https://www.bigmacindexconverter.com">"Big Mac" Index</a> to try to quantify this difference.  For example, for the price of a single Big Mac in the US, I might be able to buy four Big Macs in Mexico.  Or, to put it another way, to buy a single Big Mac in the United States would require four times the amount of money for someone in Mexico.
    </p>
    <p>
      For digital goods like my books, this means that they are way more expensive for people in certain countries.  This section explains how I'm currently addressing this.  Unfortunately, it's complicated and imperfect.
    </p>
    <h3>My Self-Published Books</h3>
    <p>
      You can buy my books in two ways: electronic versions from my website or print versions from Amazon.
    </p>
    <h4>Print Versions from Amazon</h4>
    <p>
      If you buy from Amazon, I have adjusted the pricing of the print versions for each marketplace Amazon supports for my books using the Big Mac index.  For example, <a href="https://sustainable-rails.com">Sustainable Web Development with Ruby on Rails</a> is $49.95 in print in the US, but is 2308 JPY when using amazon.co.jp (which is the equivalent of $22.18 USD).
    </p>
    <p>
      I realize that some countries don't seem to be able to buy the print version. I can't easily do anything about this, since Amazon controls the distribution, so I'm sorry about that.
    </p>
    <h4>Electronic Versions from Me</h4>
    <p>
      For electronic versions, it's more complicated because I don't have infrastructure to figure out where you might be browsing from and adjust the price accordingly.  To that end, I'm using something called <a href="https://en.wikipedia.org/wiki/Honor_system">"The Honor System"</a> , where you will choose a discount code below, based on the country closest to your economic situation.  That discount code will adjust the price of my books to a more fair price for your economy.
    </p>
    <p>
      As you'll see, this list of countries is not exhaustive, but based on Amazon's marketplaces.  My hope is that if you live in, say, Guatemala, you will know if your economy is more like India or Mexico or the UK.  And yes, I did consider creating a SAAS product to calculate all this :)
    </p>
    <h4>Getting Your Fair Price</h4>
    <p>
      Use one of these at checkout.  Again, the honor system applies. If you live in the US and use the code for India, you will get a big discount, which comes straight out of my pocket.  If I discover too much abuse, I will discontinue this, so please don't ruin it for everyone.  The US has enough problems internationally as it is.
    </p>
    <ul>
      <li>
        Australia - <code>PPP_AUD</code>
      </li>
      <li>
        Brasil - <code>PPP_BRL</code>
      </li>
      <li>
        Canada - <code>PPP_CAD</code>
      </li>
      <li>
        European Union countries - <code>PPP_EU</code>
      </li>
      <li>
        UK - <code>PPP_GBP</code>
      </li>
      <li>
        India - <code>PPP_INR</code>
      </li>
      <li>
        日本 - <code>PPP_JPY</code>
      </li>
      <li>
        México - <code>PPP_MXN</code>
      </li>
    </ul>
    <p>
      If your country isn't listed, pick the one you think is closest.  If there isn't one, please <a href="mailto:davetron5000@hey.com">email me</a> and I'll look into it.  If your country <em>is</em> listed and I have misspelled or misnamed it, please email me the correct spelling or name.
    </p>
    <p>
      Lastly, I want to acknowledge that the economic disparities amongst the world's countries were not heretofore unknown to me. I just didn't make the connection with this fact and the pricing strategy of my books.  That the tools available to me to manage this are poor-to-non-existent is no excuse, so hopefully this makes things a bit more fair.  I'm absolutely open to better ways to do this.
    </p>
    <h3>Books Published by Pragmatic Programmers</h3>
    <p>
      Unfortunately, I can't do much about Agile Web Development with Rails or any other book published by the Pragmatic Programmers.
    </p>
  </a>
</section>
