.pb1 {
  padding-bottom: $sz1;
}
.pb2 {
  padding-bottom: $sz2;
}
.pb3 {
  padding-bottom: $sz3;
}
.pt1 {
  padding-top: $sz1;
}
.pt2 {
  padding-top: $sz2;
}
.pr2 {
  padding-right: $sz2;
}
.pl0 {
  padding-left: 0;
}
.pl2 {
  padding-left: $sz2;
}
.mbnone {
  margin-bottom: 0;
}
.mb1 {
  margin-bottom: $sz1;
}
.mb2 {
  margin-bottom: $sz2;
}
.mtneg {
  margin-top: -$sz3;
}
.mtnone {
  margin-top: 0;
}
.mt1 {
  margin-top: $sz1;
}
.mt2 {
  margin-top: $sz2;
}
.ml1 {
  margin-left: $sz1;
}
.mr1 {
  margin-right: $sz1;
}
.ml2 {
  margin-left: $sz2;
}
.mr2 {
  margin-right: $sz2;
}
.ml0 {
  margin-left: 0;
}

.ib {
  display: inline-block;
}

.dn {
  display: none;
}

.w-100 {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.fl {
  float: left;
}
.fr {
  float: right;
}
img {
  max-width: 100%;
  max-height: 100%;
}
