header.site-header {
  background-image: url(/images/flamenco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -20px, center;
  color: $paper;
  nav a, h1 a {
    color: $paper;
  }
  h1 {
    font-size: $f4;
    a {
      text-decoration:none;
    }
  }
  h2 {
    font-size: $f5;
  }
}

@media (min-width: 40em) {
  header.site-header {
    h1 {
      font-size: $f2;
    }
    h2 {
      font-size: $f3;
    }
  }
}
div.highlighter-rouge {
  background: lighten($ink,5%);
  color: $paper;
  border-radius: $sz4;
  padding: $sz3;
}

a {
  color: $ink;

  &:visited {
    color: $ink;
  }
}

table.border-rows {
  border-collapse: collapse;
  thead, tbody {
    th, td {
      padding-top: $sz4;
      border-bottom: solid thin $ink;
    }
    th {
      padding-right: $sz3;
    }
  }
}
.image-border {
  border: solid thin $ink;
}

.border-bottom {
  border-bottom: solid thin $ink;
}

.border-top {
  border-top: solid thin $ink;
}
.border-light {
  border-color: lighten($ink,75%);
}

.button {
  text-decoration: none;
  padding: $sz4;
  margin: 0;
  &:hover {
    background: rgba(0,0,0,0.25);
    text-decoration: underline;
  }
}

hr {
  color: lighten($ink,75%);
}

.pill {
  padding: $sz3;
  background: lighten($ink,92%);
  font-family: $sans;
  &:hover {
    background: lighten($ink,87%);
  }
}

.light {
  color: lighten($ink,30%);
}
aside.promo {
  border-radius: $sz4;
  border:solid thin;
  background: $blue;

  .banner {
    background: $paper;
    border-radius: $sz4;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
  }

  h2 {
    color: lighten($ink,10%);
  }

  a {
    border-radius: $sz5;
    color: $ink;
    img {
      background: $paper;
      -webkit-box-shadow: 0.7875px 0.7875px 6.3px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0.7875px 0.7875px 6.3px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0.7875px 0.7875px 6.3px 0px rgba(0, 0, 0, 0.75);
    }
  }

  h3 {
    a {
      border-radius: $sz5;
      color: $ink;
      background: $paper;
      border: solid thin grey;
      border-radius: $sz3;
      &:hover {
        color: lighten($ink,20%);
        background: darken($paper,1%);
      }
    }
  }
}

.discount-code {
  margin-right: $sz4;
  padding: $sz5 $sz4;
  border: solid thin;
  border-radius: $sz4;
  background-color: #dfdfdf;
  font-weight: bold;
}

table.comparison {
  margin-left: auto;
  margin-right: auto;
  thead th {
    font-size: $f5;
    font-weight: bold;
    text-align: left;
  }
  tbody {
    tr:nth-child(odd) td {
      background-color: #efefef;
    }
    td {
      padding: $sz3;
    }
    td:nth-child(1),
    td:nth-child(2) {
      white-space: nowrap;
      font-size: $f7;
      font-weight: bold;
      max-width: 20ch;
    }
    td.wrap-ok {
      white-space: normal;
    }
    td:nth-child(1) {
      padding-left: 0;
    }
    td:nth-last-child(1) {
      padding-right: 0;
    }
    td p {
      max-width: 45ch;
      line-height: 1.4;
    }
  }
}

kbd {
  display: inline-block;
  padding-left: $sz4;
  padding-right: $sz4;
  padding-top: $sz5 / 4;
  padding-bottom: $sz5 / 4;
  margin-bottom: $sz5 / 4;
  font-family: $monospace;
  border: solid thin black;
  border-radius: $sz5;
}
.comparison {
    display: grid;
    grid-template-areas: 'title      title'
                         'mac-icon   mac-name'
                         'linux-icon linux-name'
                         'desc       desc      ';
    gap: $sz4;

    h6 {
      grid-area: title;
      width: 100%;
      margin-bottom: $sz3;
      margin-top: $sz3;
      font-size: $f4;
      text-align: center;
    }
}
@media (min-width: 40em) {
  .comparison {
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-areas: 'title    title    title      title'
                         'mac-icon mac-name linux-icon linux-name'
                         'desc     desc     desc       desc';
    gap: $sz4;
    justify-items: start;
  }
}
.comparison .name {
    font-weight: bold;
    font-size: $f5;
    display: block;
}
.comparison .name strong {
    font-weight: normal;
}
.comparison :nth-child(1 of img) {
  grid-area: mac-icon;
  height: 3lh;
}
@media (min-width: 40em) {
  .comparison :nth-child(1 of img) {
    height: 4lh;
  }
}
.comparison > :nth-child(1 of kbd) {
    width: min-content;
    grid-area: mac-icon;
    white-space: nowrap;
    height: min-content;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.comparison > span.mac[role=img] {
    grid-area: mac-icon;
    font-size: 120%;
    white-space: nowrap;
    height: min-content;
    align-self: center;
}

.comparison > :nth-child(1 of p) {
    grid-area: mac-name;
}
.comparison :nth-child(2 of img) {
    grid-area: linux-icon;
    height: 3lh;
}
@media (min-width: 40em) {
  .comparison :nth-child(2 of img) {
    height: 4lh;
  }
}
.comparison > :nth-child(2 of kbd) {
    width: min-content;
    grid-area: linux-icon;
    height: min-content;
    align-self: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    white-space: nowrap;
}

@media (min-width: 40em) {
  .comparison > :nth-child(1 of kbd),
  .comparison > :nth-child(2 of kbd) {
    font-size: 120%;
  }
}

.comparison > span.linux[role=img] {
    grid-area: linux-icon;
    font-size: 120%;
    white-space: nowrap;
    height: min-content;
    align-self: center;
}
.comparison > :nth-child(2 of p) {
    grid-area: linux-name;
}
.comparison :nth-child(1 of .description) {
    grid-area: desc;
    padding-left: $sz3;
    padding-right: $sz3;
    padding-top: $sz3;
    padding-bottom: 0;
    display: flex;
    align-items: top;
    gap: $sz5;
}
.comparison :nth-child(1 of .description) :nth-child(1 of p){
    margin-top: 0;
}

img.bordered {
  padding: $sz3;
  border: solid thin #efefef;
  border-radius: $sz4;
}


figure.two-shots div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $sz3;
}
@media (min-width: 40em) {
  figure.two-shots div {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: $sz3;
  }
  figure.two-shots img {
    width: 50%;
  }
}
