header.site-header {
  background-image: url(/images/flamenco.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -20px, center;
  color: $paper;
  nav a, h1 a {
    color: $paper;
  }
  h1 {
    font-size: $f4;
    a {
      text-decoration:none;
    }
  }
  h2 {
    font-size: $f5;
  }
}

@media (min-width: 40em) {
  header.site-header {
    h1 {
      font-size: $f2;
    }
    h2 {
      font-size: $f3;
    }
  }
}
div.highlighter-rouge {
  background: lighten($ink,5%);
  color: $paper;
  border-radius: $sz4;
  padding: $sz3;
}

a {
  color: $ink;

  &:visited {
    color: $ink;
  }
}

table.border-rows {
  border-collapse: collapse;
  thead, tbody {
    th, td {
      padding-top: $sz4;
      border-bottom: solid thin $ink;
    }
    th {
      padding-right: $sz3;
    }
  }
}
.image-border {
  border: solid thin $ink;
}
.border-bottom {
  border-bottom: solid thin $ink;
}

.border-top {
  border-top: solid thin $ink;
}
.border-light {
  border-color: lighten($ink,75%);
}

.button {
  text-decoration: none;
  padding: $sz4;
  margin: 0;
  &:hover {
    background: rgba(0,0,0,0.25);
    text-decoration: underline;
  }
}

hr {
  color: lighten($ink,75%);
}

.pill {
  padding: $sz3;
  background: lighten($ink,92%);
  font-family: $sans;
  &:hover {
    background: lighten($ink,87%);
  }
}

.mailing-list {
  background: lighten($ink,20%);
  color: $paper;
  border: solid thin;
  border-radius: $sz4;
  .form-element {
    label {
      font-color: $ink-light;
    }
  }
  input[type="submit"] {
    border: solid thin $paper;
    border-radius: $sz5;
    background: lighten($ink,20%);
    color: $paper;
    width: 100%;
    &:hover {
      background: $ink;
    }
  }
}
.light {
  color: lighten($ink,30%);
}
aside.promo {
  border-radius: $sz4;
  border:solid thin;
  background: $blue;

  .banner {
    background: $paper;
    border-radius: $sz4;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border: none;
  }

  h2 {
    color: lighten($ink,10%);
  }

  a {
    border-radius: $sz5;
    color: $ink;
    img {
      background: $paper;
      -webkit-box-shadow: 0.7875px 0.7875px 6.3px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0.7875px 0.7875px 6.3px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0.7875px 0.7875px 6.3px 0px rgba(0, 0, 0, 0.75);
    }
  }

  h3 {
    a {
      border-radius: $sz5;
      color: $ink;
      background: $paper;
      border: solid thin grey;
      border-radius: $sz3;
      &:hover {
        color: lighten($ink,20%);
        background: darken($paper,1%);
      }
    }
  }
}

.discount-code {
  margin-right: $sz4;
  padding: $sz5 $sz4;
  border: solid thin;
  border-radius: $sz4;
  background-color: #dfdfdf;
  font-weight: bold;
}
