// Font Assignments
$serif: "Baskerville", serif;
$serif-normal-weight: normal;
$serif-bold-weight: 800;

$sans: "Futura", "Avenir", "Helvetica", sans-serif;
$sans-normal-weight: normal;
$sans-bold-weight: normal;

$monospace: "Courier New", "Courier", monospace;

// Font Choices
$header-font: $sans;
$body-font: $serif;
$body-font-normal-weight: $serif-normal-weight;
$body-font-bold-weight: $serif-bold-weight;
$header-font-normal-weight: $sans-normal-weight;
$header-font-bold-weight: $sans-bold-weight;

// Modular Font Scale
/*
$f-2:  123.364px;
$f-1:  104.717px;
*/
$f0:  76.245px;
$f1:  64.720px;
$f2:  47.123px;
$f3:  40.000px;
$f4:  29.124px;
$f5:  24.722px;
$f6:  18.000px;
$f7:  15.279px;
$f8:  11.125px;
$f9:   9.443px;
$body-font-size: $f6;
/*
$f10: 6.876px;
$f11: 5.836px;
$f12: 4.250px;
*/

$line-height: 1.4;
$desktop-chars-per-line: 80;
$desktop-text-width: $body-font-size * $desktop-chars-per-line / 2;

$text-width: 90%;

// Some sizes
$sz1: $body-font-size * $line-height * 2;
$sz2: $body-font-size * $line-height;
$sz3: $body-font-size * $line-height / 2;
$sz4: $body-font-size * $line-height / 4;
$sz5: $body-font-size * $line-height / 8;

.sans {
  font-family: $sans;
}
b, strong, .fw-bold {
  font-weight: $body-font-bold-weight;
}
.f-serif { font-family: $serif !important; }

.f1 { font-size: $f1; }
h1, .h1, .f2 { font-size: $f2; font-weight: normal; strong { font-weight: bold }}
h2, .h2, .f3 { font-size: $f3; font-weight: normal; strong { font-weight: bold }}
.f4          { font-size: $f4; font-weight: normal; strong { font-weight: bold }}
h3, .h3, .f5 { font-size: $f5; font-weight: normal; strong { font-weight: bold }}
.f6          { font-size: $f6; font-weight: normal; strong { font-weight: bold }}
h4, .h4, .f7 { font-size: $f7; font-weight: normal; strong { font-weight: bold }}
h5, .h5, .f8 { font-size: $f8; font-weight: normal; strong { font-weight: bold }}
h6, .h6, .f9 { font-size: $f9; font-weight: normal; strong { font-weight: bold }}

header nav ul {
  padding: 0;
}
header li {
  list-style: none;
  display: block;
  text-align: center;
  font-size: $f5;
  font-family: $header-font;
}
@media (min-width: 40em) {
  header li {
    display: inline-block;
    padding-right: $sz2;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: $header-font-bold-weight;
  margin-top: 0;
  text-rendering: optimizeLegibility;
  &.fw-bold, .fw-bold {
    font-weight: $header-font-bold-weight;
  }
  &.wf-loading {
    visibility: hidden;
  }
}

.no-ul {
  text-decoration: none;
}
.ul {
  text-decoration: underline;
}
.ul-hover:hover {
  text-decoration: underline;
}

.excerpt sup {
  display: none;
}
h1, h2, h3 {
  margin-bottom: $sz3;
}

h4, h5, h6 {
  margin-bottom: -1 * $sz3;
}

.ls2 {
  letter-spacing: 0.075em;
}

.f-body {
  font-size: $body-font-size;
}

body, p, li, td {
  font-family: $body-font;
  font-size: $f5;
  line-height: $line-height + .1;
  text-rendering: optimizeLegibility;
  font-weight: $body-font-normal-weight;
}
@media (min-width: 40em) {
  body, p, li, td {
    font-size: $body-font-size;
    line-height: $line-height;
  }
}
body {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

blockquote {
  margin: 0;
  padding-left: $sz3;
  font-style: italic;
  border-left: 4px solid lighten($ink,75%);
}

main {
  width: $text-width;
  margin: 0 auto;
  overflow-x: hidden;
}

.readable {
  width: $text-width;
  margin: 0 auto;
}
@media (min-width: 40em) {
  main {
    width: $desktop-text-width;
    margin: 0 auto;
    overflow-x: hidden;
  }
  .readable {
    width: $desktop-text-width;
    margin: 0 auto;
  }
}

pre,code {
  font-family: $monospace;
}
pre {
  overflow-x: scroll;
}
pre code {
  padding: 0;
  font-size: $f6;
}

p code {
  font-size: $f6;
}
@media (min-width: 40em) {
  p code {
    font-size: $f7;
  }
}

pre {
  margin: 0;
  line-height: 1.2;
}

.uc {
  text-transform: uppercase;
}

sup a {
  text-decoration:none;
  &:hover {
    text-decoration: underline;
  }
}
footer.footnotes {
  font-style: italic;
  li {
    font-size: $f7;
    display: block;
    padding-left: $sz2;
    padding-right: $sz2;

    sup {
      margin-left: -$sz3;
      font-style: normal;
      padding-right: $sz4;
    }
  }
}

footer.related-posts {
  h1 {
    font-size: $f4;
    text-align: center;
  }
  .post-date {
    display: block;
    color: $ink-light;
    text-transform: uppercase;
    font-size: $f7;
  }
}
.text-l { text-align: left; }
.text-c { text-align: center; }
.text-r { text-align: right; }

.blog-post .blog-content > p:last-of-type:after, .complete-article > p:last-of-type:after {
  content: " ❺";
}

.mailing-list form label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $sz2;
  margin-top: $sz2;
  margin-bottom: $sz2;
  flex-direction: column;
  width: 100%;
}
@media (min-width: 40em) {
  .mailing-list form label {
    flex-direction: row;
  }
}
.mailing-list form label span {
  white-space: nowrap;
}

.mailing-list form input[type='email'] {
  width: 80%;
  padding: $sz3;
  font-size: $f5;
  font-family: $monospace;
  border: none;
  border-radius: $sz5;
  background-color: #fffeff;
  color: #222;
  box-shadow: 0px 0px 26px -6px rgba(0,0,0,0.46) inset;
}
.mailing-list form input[type='submit'] {
  display: inline-block;
  width: 100%;
  padding: $sz3;
  font-size: $f5;
  text-align:center;
  border: solid thin;
  border-radius: $sz3;
  background-color: #111;
  color: #ddd;
  font-family: $sans;
  text-shadow: rgba(135,251,255,0.68) 0px 0px 8px;
}

aside.promo {
  width: 100%;
  margin: 0;
  text-align: center;
  max-width: 90%;
  @media (min-width: 40em) {
    max-width:40%;
    float:left;
    margin-top: $sz3;
    margin-left: 0;
    margin-right: $sz2;
    margin-bottom: $sz2;
  }

  .banner {
    display: block;
    font-style: italic;
    border: none;
    padding-top: $sz3;
    padding-bottom: $sz3;
    margin-bottom: $sz3;
    text-align: center;
    width: 100%;
  }

  h1 {
    font-size: $f6;
    text-transform:uppercase;
    margin-bottom: 0;
  }

  h2 {
    font-size: $f7;
    letter-spacing: -1 * ($sz5 / 10);
  }

  a {
    text-decoration: none;
    padding: $sz5;
    margin-left: -$sz5;
    margin-right: -$sz5;
    font-weight: 200;

    img {
      max-width: 100%;
    }
  }

  h3 {
    font-size: $f7;
    margin-top: $sz2;
    margin-bottom: $sz2;
    a {
      text-decoration: none;
      padding: $sz5;
      margin-left: -$sz5;
      margin-right: -$sz5;
      font-weight: 200;
      text-transform: uppercase;
      padding-left: $sz2;
      padding-right: $sz2;
      padding-top: $sz3;
      padding-bottom: $sz3;
      font-weight: bold;
    }
  }
}

.pullquote {
  display: none;
  @media (min-width: 40em) {
    display: block;
    margin: $sz4;
    margin-top: 0;
    font-weight: bold;
    width: 50%;
    max-width: 50%;
    font-size: $f4;
    text-align: right;
    float: right;
    margin-right: 0;
  }
}

.pullquote-left {
  display: none;
  @media (min-width: 40em) {
    display: block;
    margin: $sz4;
    margin-top: 0;
    font-weight: bold;
    width: 50%;
    max-width: 50%;
    font-size: $f4;
    text-align: left;
    float: left;
    margin-left: 0;
  }
}

tfoot p {
  font-size: $f7;
  font-style: italic;
  &:before {
    font-style: normal;
    text-transform: uppercase;
    content: "Table ";
  }
}

.blog-post footer {
  margin-top: $sz2;
  margin-bottom: $sz2;
  ul {
    margin: 0;
    padding-left: $sz3;
    padding-right: $sz3;
    list-style: none;
    li {
      line-height: 1.2;
      margin-top: $sz3;
      text-align: center;
    }
  }
}

figure {
  text-align: center;
  figcaption {
    font-size: $f7;
    font-style: italic;
  }
}

.list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: $sz4;
  }
}

