---
layout: default
single: true
---

<div>
<article role="article" class="blog-post">
  <header class="border-bottom border-light">
    <h1>{{ page.title }}</h1>
    <h2 class="f5 ls2 fw-bold mtnone uc ib">
      {{ page.date | date: '%B %d, %Y' }}
      <h3 class="f6 fr"><a href="#mailing_list"><span class="light">Join my mailing list…</span></a></h3>
    </h2>
  </header>
  <section class="blog-content">
    {{ content }}
  </section>
  {% if page.related_posts.size > 0 %}
  <footer>
    <h1 class="f4 center">You Might Also Like</h1>
    <ul>
      {% for post in page.related_posts %}
      <li><a href="{{ post.link }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </footer>
  {% endif %}
</article>
{% include mailing_list.html %}
</div>
{% if page.ad != null %}
<aside class="ad" id="ad">
  <div class="banner">Promotion</div>
  <h1>{{ page.ad.title }}</h1>
  <h2>{{ page.ad.subtitle }}</h2>
  <a href="{{ page.ad.link }}">
    <img src="{{page.ad.image}}" width="200">
  </a>
  <h3>
    <a href="{{ page.ad.link }}">
      {{ page.ad.cta }}
    </a>
  </h3>
</aside>
{% endif %}
<script>
  var ad         = document.getElementById("ad");
  var adLocation = document.querySelector("[data-ad]");

  if ((ad !== null) && (adLocation !== null)) {
    adLocation.appendChild(ad);
  }
</script>
