---
layout: default
single: true
---

<div>
<article role="article" class="blog-post">
  <header class="border-bottom border-light">
    <h1>{{ page.title }}</h1>
    <h2 class="f5 ls2 fw-bold mtnone uc ib">
      {{ page.date | date: '%B %d, %Y' }}
      <h3 class="f6 fr"><a href="#mailing_list"><span class="light">Join my mailing list…</span></a></h3>
    </h2>
  </header>
  <section class="blog-content">
    {{ content }}
  </section>
  <footer class="related-posts">
  {% if page.related.size > 0 %}
    <h1>You Might Also Like</h1>
    <ul>
      {% for title in page.related %}
      {% assign posts = site.posts | where: "title", title %}
      {% for related_post in posts %}
      <li>
        <a href="{{ related_post.url }}">{{ related_post.title }}</a>
        <span class="post-date">
          {{ related_post.date | date: "%B %d, %Y" }}
        </span>
      </li>
      {% endfor %}
      {% endfor %}
    </ul>
  {% else %}
    <h1>Latest Posts</h1>
    <ul>
      {% for latest_post in site.posts limit:3 %}
        {% if latest_post.url != page.url %}
          <li>
            <a href="{{ latest_post.url }}">{{ latest_post.title }}</a>
            <span class="post-date">
              {{ latest_post.date | date: "%B %d, %Y" }}
            </span>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
  </footer>
</article>
{% include mailing_list.html %}
</div>
{% if page.ad != null %}
<aside class="ad" id="ad">
  <div class="banner">Promotion</div>
  <h1>{{ page.ad.title }}</h1>
  <h2>{{ page.ad.subtitle }}</h2>
  <a href="{{ page.ad.link }}">
    <img src="{{page.ad.image}}" width="200">
  </a>
  <h3>
    <a href="{{ page.ad.link }}">
      {{ page.ad.cta }}
    </a>
  </h3>
</aside>
{% endif %}
<script>
  var ad         = document.getElementById("ad");
  var adLocation = document.querySelector("[data-ad]");

  if ((ad !== null) && (adLocation !== null)) {
    adLocation.appendChild(ad);
  }
</script>
